@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
}

#app {
  --bg-color: rgba(red, green, blue, 0);
}

:root {
  background-color: var(--bg-color);
}
.titlebar {
  height: 30px;
  background: transparent;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
